/* Profile Panel - Height From Bottom */
.visual-refresh .panels_c48ade {
  	bottom: 24px;
}
/* Profile Panel - Height */
.visual-refresh .container__37e49 {
  	height: 52px;
}

/* Channel List - Bottom */
.visual-refresh .scroller__629e4 {
  	margin-bottom: 24px;
}
/* Server List - Bottom */
.visual-refresh .scroller_ef3116 {
  	padding-bottom: 24px;
}
/* Server List - New Ping */
.visual-refresh .unreadMentionsIndicatorBottom_ef3116 {
  	padding-bottom: 24px;
}

/* DM List - Bottom */
.visual-refresh .scroller__99e7c {
  	margin-bottom: 75px;
}
